* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
    background-color: #141414;
    height: 82px;
    width: 100%;
}

/* --------- left navbar */

.left_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 50px;

    width: 542px;
    height: 30px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left_nav_logo {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.netflix-logo {
    color: #B9090B;
    background: #B9090B;
    background-color: #141414;
    height: 30px;
}

.left_nav_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.item_1 {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.item_all {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #E5E5E5;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* ------------------- right bavbar */

.right_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 20px;

    width: 248px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.right_nav_search {
    width: 20px;
    height: 20px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.right_nav_kids {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height */
    display: flex;
    align-items: flex-end;

    /* White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.right_nav_giftbox {
    width: 20px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.right_nav_bell {

    width: 20px;
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.right_nav_avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 56px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}

.right_nav_avatar_img {
    width: 32px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.right_nav_avatar_arrow {
    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
